@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&family=Quicksand:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
/*
    font-family: 'Kanit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rubik', sans-serif;
 */


/* Universal & Base styles */

:root {
    box-sizing: border-box;
    /* color: aquamarine; */
}

* {
    color: aquamarine;
}

a {
    text-decoration: none;
}
button {
    background-color: hsla(0, 0%, 0%, 0);
    border: none;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#matrix {
    position: absolute;
    /* width: 100vw;
    height: 100vh; */
    z-index: 1;
}
#dim-filter {
    background-color: hsla(0, 0%, 0%, .8);
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

/* Top & Header */

header {
    z-index: 10;
    /* background-color: aquamarine; */
    padding: 1rem;
    margin: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#JT {
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Quicksand', sans-serif;
    color: black;
    background-color: aquamarine;
    border: 2px solid black;
    padding: 1rem;
    transition-property: color, background-color, border;
    transition-duration: .5s;
    transition-timing-function: ease;
}
#JT:hover {
    color: aquamarine;
    background-color: black;
    border: 2px solid aquamarine;
}

#expanded-nav > nav > * {
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Rubik', sans-serif;
    color: black;
    background-color: aquamarine;
    border: 2px solid black;
    padding: 1rem;
    margin: 0 .5rem;
    transition-property: color, background-color, border;
    transition-duration: .33s;
    transition-timing-function: ease;
}
#expanded-nav > nav > *:hover {
    color: aquamarine;
    background-color: black;
    border: 2px solid aquamarine;
}

#QAM {
    display: none;
    font-size: 1.5rem;
    background-color: aquamarine;
    border: 2px solid black;
    padding: 1rem;
    transition-property: color, background-color, border;
    transition-duration: .5s;
    transition-timing-function: ease;
}
#QAM:hover {
    color: aquamarine;
    background-color: black;
    border: 2px solid aquamarine;
}

@media screen and (max-width: 768px) {
    #QAM {
        display: block;
    }
    #expanded-nav {
        display: none;
    }
}

/* Main body */

main {
    margin: 2rem;
    padding: 2rem;
}
main > * {
    margin-bottom: 20rem;
    padding: 2rem;
    border: 2px solid aquamarine;
    background-color: hsla(0, 0%, 0%, .5);
}

#introduction > h1 {
    font-size: 3rem;
    font-family: 'kanit', sans-serif;
}
#introduction > p {
    font-size: 1.5rem;
}

#project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    border: 2px solid aquamarine;
    width: 250px;
    padding: 1rem;
    margin: 1rem;
}

.project-gallery {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100px;
}
.gallery-img {
    width: 70%;
}
.gallery-btn {
    width: 15%;
    height: 100%;
    font-size: 2rem;
}

.project-info {
    width: 100%;
    text-align: start;
    padding: 0 1rem;
}


/* Footer */

footer {
    background-color: aquamarine;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}
footer > * {
    color: black;
}

#links {
    display: flex;
}
#links > * {
    color: black;
    padding: 0 1rem;
    margin: 0;
    font-size: 1.25rem;
}
#links > * > i {
    color: black;
    padding-right: .25rem;
}
#links > *:nth-child(n + 2) {
    border-left: 2px solid black;
}
#links > *:hover {
    text-decoration: underline;
}